<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/editStyles.css}"/>

</head>
<body>
<div class="container">
  <h1>새 창고 등록</h1>
  <form th:action="@{/warehouses}" th:object="${warehouseDto}" method="post">
    <div class="form-group">
      <label for="name">창고 이름:</label>

      <input type="text" id="name" th:field="*{name}" required
             placeholder="창고 이름을 입력하세요">
    </div>

    <div class="form-group">
      <label for="location">위치:</label>

      <input type="text" id="location" th:field="*{location}" required
             placeholder="위치을 입력하세요">
    </div>

    <div>
      <button type="submit">창고 등록</button>
    </div>
  </form>

  <a th:href="@{/warehouses}" class="back-link">창고 목록으로 돌아가기</a>
</div>
</body>
</html>