<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/editStyles.css}"/>

</head>
<body>
<div class="container">
    <h1>창고 정보 수정</h1>

    <form th:action="@{/warehouses/{id}(id=${warehouseId})}" th:object="${warehouseDto}" method="post">

        <input type="hidden" name="_method" value="put" />

        <div class="form-group">
            <label for="name">창고 이름:</label>

            <input type="text" id="name" th:field="*{name}" required
                   placeholder="창고 이름을 입력하세요">
        </div>

        <div class="form-group">
            <label for="location">가격:</label>
            <input type="text" id="location" th:field="*{location}" required
                   placeholder="위치를 입력하세요">
        </div>

        <div>
            <button type="submit">창고 수정 완료</button>
        </div>
    </form>

    <a th:href="@{/warehouses}" class="back-link">창고 목록으로 돌아가기</a>
</div>
</body>
</html>